:root {
    --filzaos-bg: #0B0614;
    --filzaos-surface: #160B24;
    --filzaos-purple: #8B5CF6;
    --filzaos-light: #E9D5FF;
}

window,
.background {
    background-color: #0B0614;
    color: #E9D5FF;
}

headerbar {
    background-color: #160B24;
    color: #E9D5FF;
}

button {
    background-color: #1B102B;
    color: #E9D5FF;
}

button:hover {
    background-color: #6D28D9;
    color: #FFFFFF;
}

entry {
    background-color: #10091A;
    color: #E9D5FF;
}
