[Desktop Entry]
Type=Application
Name=FilzaOS Desktop
Comment=Initialize FilzaOS desktop
Exec=sh -c 'sleep 5; /usr/local/bin/filzaos-startup'
Terminal=false
NoDisplay=true
X-GNOME-Autostart-enabled=true
